/* app css stylesheet */
table {
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
}

td {
    font-size: 14px;
    line-height: 30px;
    padding: 0px 8px;
    font-weight: bold;
}

th {
    text-align: center;
    padding: 8px;
    background-color: #DCDFE0;
    overflow: hidden;
}

tr:nth-child(even){background-color: #f2f2f2}